<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
    <title>Edit Data</title>
</head>
<body>
    
    <div class="container" id="app">
      <div class="menu">
        <button class="menu__button" @click='save(movieData)'>Save</button><br>
        <button class="menu__button" @click='fetchData(movieData)'>Fetch Data</button>
      </div>
      <article>
        <div class="card">
            <div class="card__header">
              <input type="text" placeholder="Enter Title" v-model="movieData.title">
              <input type="text" placeholder="Enter Title" :value="getMovieGenres(movieData)">
            </div>
            <div class="card__body">
              <div class="table">
                <div class="table__cell table__cell--poster">
                  <div class="img-wrapper">
                    <img :src="movieData.poster_path" alt="">
                  </div>
                </div>
                <div class="table__cell table__cell--backdrop">
                  <div class="img-wrapper">
                    <img :src="movieData.backdrop_path" alt="">
                  </div>
                </div>
              </div>
              <div>
                poster path/url <input type="text" v-model="movieData.poster_path"> <br>
                backdrop path/url <input type="text" v-model="movieData.backdrop_path"> 
              </div>
              <textarea style="width:100%" id="" cols="30" rows="10" v-model="movieData.overview"></textarea>
              <span>Director:</span><input type="text" placeholder="Enter director" :value="getDirectors(movieData)"><br>
            </div>
        </div>
        <!--- CAST start-->
        <div class="card" >
            <div class="card__header">
                <h2>Cast</h2>
            </div>
            <div class="card__body">
                <div class="list-container">
                <ul class="cast-list">
                    <li class="cast-list__item" v-for="(cast, index) in movieData.cast">

                    <div class="flex-h">
                        <div class="image-wrapper flex-h__item flex-h__item--poster">
                        <img :src="cast.profile_path" alt="artist name">
                        </div>
                        <div class="flex-h__item flex-h__item--character"> &nbsp;
                        <input type="text" v-model="cast.name"><br> &nbsp;
                        <input type="text" v-model="cast.character">
                        </div>
                    </div>
                    <div>   
                        <input type="text" v-model="cast.profile_path"><button>browse</button>
                    </div>
                    </li>
                    <button>Add cast</button>
                </ul>
                </div>
            </div>
        </div>
      </article>
    </div>
    <script>
        const {ipcRenderer} = require('electron');
        const baseApiUrl='https://api.themoviedb.org/3/';
        const imageApiUrl = 'http://image.tmdb.org/t/p/';
        const tmdb = require('./my_modules/tmdb');
        let index;

        let movieData = {};
        let app = new Vue({
            el: '#app',
            data: {
                movieData:movieData,
            },
            methods: {
                getMovieGenres: (movie) => movie.genres ? movie.genres.map(function(value) {
                    return value.name;
                }).join(', '):'',
                getDirectors: (movie) => movie.directors ? movie.directors.map(function(value) {
                    return value.name;
                }).join(','):'',
                getCast: (movie) => movie.cast ? movie.cast.slice(0,3).map(function(value) {
                return value.name;
                }).join(', '):'',
                save: (movie) => {
                    console.log(movie);
                    ipcRenderer.send('saveEdit', movie, index);
                },
                fetchData: function (movie) {
                    let vm = this;
                    tmdb.searchMovie(movie)
                    .then(function (response) {
                        if(response.data.results.length) {
                            let data = response.data.results[0];
                            data.poster_path = imageApiUrl+'w500'+data.poster_path;
                            data.backdrop_path = imageApiUrl+'w500'+data.backdrop_path;
                            //db.update({_id:movie._id},{ $set: data },{returnUpdatedDocs:true},updateDoc.bind(vm))
                            vm.movieData = Object.assign({},vm.movieData, data);
                            return tmdb.getMovieDetails(data.id);
                        } else {
                            alert("no match found!");
                        }
                    })
                    .then(function(response) {
                        response = response.data;
                        let data = {
                            genres:response.genres,
                            imdb_id:response.imdb_id,
                            cast:getCast(response.credits.cast,10).map(function(val) {
                                val.profile_path = imageApiUrl+'w92'+val.profile_path;
                                console.log(val);
                                return val;
                            }),
                            directors:getDirectors(response.credits.crew)
                        }
                        vm.movieData = Object.assign({},vm.movieData, data);
                        console.log(vm.movieData);
                    })
                    .catch(function (error) {
                        alert(error);
                    });
                }
            }
        });

        function getCast(cast,limit) {
            return cast.slice(0,limit);
        }

        function getDirectors(crew) {
            return crew.filter(function(item) {
                return item.job === 'Director';
            })
        }

        ipcRenderer.on('movieData', function(event, movie, ind) {
            app.movieData = movie;
            console.log(app.movieData);
            index = ind;
        })
    </script>
</body>
</html>
