<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>G7 movies</title>
    <link rel="stylesheet" href="fontello/css/fontello.css">
    <link rel="stylesheet" href="style.css">
    <script src="vue.js"></script>
  </head>
  <body>
    <div class="container" id="app">
      <div class="padding"></div>
      <header class="header">
        <div class="header__top table">
          <div class="search-container">
            <input class="header__input" type="text" placeholder="find movies" v-model="input" @keydown="debounceFind">
            <select class="type-select" v-model="type" @change="find(input,type)">
              <option value="all">All</option>
              <option value="title">Title</option>
              <option value="cast">Cast</option>
              <option value="director">Director</option>
              <option value="genre">Genre</option>
              <option value="language">Language</option>
            </select>
            <button class="header__button" @click="find(input,type)"><i class="icon-search"></i> </button> 
          </div>
        </div>
        <div class="header__bot">
          <span class="blue-hover" @click="find(0,'recent-added',0,100)">
            Recently Added
          </span>|
          <span class="blue-hover" @click="find(0,'top-rated')">
            Top Rated
          </span>
          <!--<span>
            Most Watched
          </span>-->
        </div>
      </header>
      <div class="mid-container row">
        <article class="row__col-med" v-if="movieData.title">
          <div class="card" style="background: #38393A; color:white" >
            <div class="card__header" style="position:relative">
              <div class="table title-container" style="position:relative">
                  <div class="table__cell" style="flex:1">
                    <h1>{{movieData.title+' '}}<span class="blue-hover" @click="find(movieData.year,'year')">{{displayYear(movieData)}}</span></h1>
                  </div>
                  <div class="table__cell icon-wrap" v-if="movieData.imdbRating">
                    <i class="icon-star"></i>
                  </div>
                  <div class="table__cell imdb-wrap" v-if="movieData.imdbRating">
                    <span style="font-size:25px;">{{movieData.imdbRating||''}}</span><br>
                    <sup>imdb</sup>
                  </div>  
              </div>
              <div v-for="(genre, index) in movieData.genres" @click="find(genre,'genres')" style="display:inline-block">
                  <span class="blue-hover">{{genre}}</span>
                  <span style="margin-left:-3px" v-if="(index+1) < movieData.genres.length">,&nbsp;</span>
              </div>
              <!--<span>{{getGenres(movieData)}}</span>&nbsp;-->
              <span style="color:black" v-if="movieData.genres">|</span>
              <div v-for="(language, index) in movieData.languages" @click="find(language,'language')" style="display:inline-block">
                <span class="blue-hover">{{language}}</span>
                <span style="margin-left:-3px" v-if="(index+1) < movieData.languages.length">,&nbsp;</span>
              </div>
            </div>
            <div class="card__body" style="padding:0px">
              <div class="table">
                <div class="table__cell " v-bind:class="{'table__cell--poster':movieData.poster_path}">
                  <div class="img-wrapper" v-if="movieData.poster_path">
                    <img :src="movieData.poster_path" alt="">
                  </div>
                </div>
                <div class="table__cell table__cell--backdrop">
                  <div class="img-wrapper" v-if="movieData.backdrop_path">
                    <i class="icon-play-circled2" @click="play(movieData)"></i>
                    <img class="backdrop-image" :src="movieData.backdrop_path||'images/g7_l.gif'" alt="">
                    <span style="position:absolute;left:20px;bottom:5px;">{{movieData.runtime}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card overview">
            <p style="margin-top:0">{{movieData.overview||''}}</p>
            <div v-if="movieData.directors">
              <span ><strong>Director: </strong></span>
              <div v-for="(director, index) in movieData.directors" @click="find(director.name,'director')" style="display:inline-block">
                  <span class="underline-hover" style="color:#262685">{{director.name}}</span>
                  <span style="margin-left:-3px" v-if="(index+1) < movieData.directors.length">,&nbsp;</span>
              </div>
              <!--<span ><strong>Director: </strong></span> <span style="color:#262685">{{getDirector(movieData)}}</span>-->
            </div>
            <div v-if="movieData.cast">
              <span ><strong>Cast: </strong></span> 
              <div v-for="(cast, index) in movieData.cast.slice(0,3)" @click="find(cast.name,'cast')" style="display:inline-block">
                  <span class="underline-hover" style="color:#262685">{{cast.name}}</span>
                  <span style="margin-left:-3px" v-if="(index+1) < movieData.cast.slice(0,3).length">,&nbsp;</span>
              </div>
            </div>
          </div>
          <!--- CAST start-->
          <div class="card" v-if="movieData.cast">
            <div class="card__header">
              <h2>Cast</h2>
            </div>
            <div class="card__body">
              <div class="list-container">
                <ul class="cast-list">
                  <li class="cast-list__item" v-for="(cast, index) in movieData.cast">

                    <div class="flex-h">
                      <div class="image-wrapper flex-h__item flex-h__item--poster">
                        <img :src="cast.profile_path" alt="" @error="imageError">
                      </div>
                      <div class="flex-h__item flex-h__item--character"> &nbsp;
                        <span class="underline-hover" style="color:#262685" @click="find(cast.name,'cast')">{{cast.name||''}}</span> <span> -- {{cast.character||''}}</span> 
                      </div>
                    </div>

                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--- CAST end-->
        </article>
        <article class="row__col-med" v-else><h1>No movies added</h1></article>
        <aside class="row__col-small">
          <div class="list-container">
            <ul class="movie-list">
              <li class="movie-list__item" v-for="(movie, index) in movies" 
              @click="fetchData(movie, index)" @contextmenu="showContextMenu(movie,index,$event)" >
                <i class="icon-play-circled" @click="play(movie)"></i>{{displayTitle(movie)}}
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>